<div class="header">
  <div class="section-left">
    <div class="hamburger" style="color: white;"><i class="fa-solid fa-bars fa-lg"></i></div>
    <div class="yt-logo"><img src="./assets/youtube.png" alt="Logo"></div>
  </div>
  <div class="section-center">
    <input class="search-bar" type="text" placeholder="Search" />
    <button class="search-button" style="color: white;">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <button class="voice-search-button" style="color: white;">
      <i class="fa-solid fa-microphone"></i>
    </button>
  </div>
  <div class="section-right">
    <div class="video" style="color: white;">
      <i class="fa-solid fa-video"></i>
    </div>
    <button class="notification">
      <i class="fa-regular fa-bell fa-lg"></i>
    </button>
    <!--dropdown Menu-->
    <button class="account">
      P
      <div id="dropdown">
        <ul>
          <ol>
            <div class="name">
              <div class="prof_img">
                <img
                  src="https://yt3.ggpht.com/yti/AGOGRCoslkILptl82IUw0AuK0zMIQ6QzW62XrE-CCQ=s108-c-k-c0x00ffffff-no-rj"
                  alt="" style="    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    margin-right: 20px;
                    margin-left: 10px;">
              </div>
              <div class="name-mail">
                <p>Pranay Jain</p>
              </div>
            </div>
            <hr>
          </ol>

          <ol>
            <div>
              <button class="lines">
                <a href="" class="anchorlines" style="text-decoration: none;">
                  <div class="box">
                  <div class="logo">
                    <span class="material-icons" style="color: white; margin:10px">
                      person
                      </span>
                </div>
                <div class="text">
                  <h3 style=" margin:12px;color:white">Google account</h3>
                </div>
              </div>
                </a>
              </button>
            </div>
          </ol>
          <ol>
            <div>
              <button class="lines">
                <a href="" class="anchorlines" style="text-decoration: none;">
                  <div class="box">
                  <div class="logo">
                    <span class="material-icons" style="color: white; margin:10px">
                      switch_account
                      </span>
                </div>
                <div class="text">
                  <h3 style=" margin:12px;color:white">Google account</h3>
                </div>
              </div>
                </a>
              </button>
            </div>
          </ol>

          <ol>
            <div>
              <button class="lines">
                <a href="" class="anchorlines" style="text-decoration: none;">
                  <div class="box">
                  <div class="logo">
                    <span class="material-icons" style="color: white; margin:10px">
                      logout
                      </span>
                </div>
                <div class="text">
                  <h3 style=" margin:12px;color:white">Google account</h3>
                </div>
              </div>
                </a>
              </button>
            </div>
          </ol>
          <hr>
          <ol>
            <div>
              <button class="lines">
                <a href="" class="anchorlines" style="text-decoration: none;">
                  <div class="box">
                  <div class="logo">
                    <span class="material-icons" style="color: white; margin:10px">
                      data_usage
                      </span>
                </div>
                <div class="text">
                  <h3 style=" margin:12px;color:white">Youtube studio</h3>
                </div>
              </div>
                </a>
              </button>
            </div>
          </ol>
          <ol>
            <div>
              <button class="lines">
                <a href="" class="anchorlines" style="text-decoration: none;">
                  <div class="box">
                  <div class="logo">
                    <span class="material-icons"style="color: white; margin:10px" >
                      paid
                      </span>
                </div>
                <div class="text">
                  <h3 style=" margin:12px;color:white">Youtube studio</h3>
                </div>
              </div>
                </a>
              </button>
            </div>
          </ol>
<hr>
<ol>
  <div>
    <button class="lines">
      <a  routerLink="setting" style="text-decoration: none;">
        <div class="box">
        <div class="logo">
          <span class="material-icons" style="color: white; margin:10px">
            settings
            </span>
      </div>
      <div class="text">
        <h3 style=" margin:12px;color:white">Settings</h3>
      </div>
    </div>
      </a>
    </button>
  </div>
</ol>

        </ul>
      </div>
    </button>
  </div>

</div>
