<div class="header">
  <div class="section-left">
    <div class="hamburger" style="color: white;"><i class="fa-solid fa-bars fa-lg"></i></div>
    <div class="yt-logo"><img src="./assets/youtube.png" alt="Logo"></div>
  </div>
  <div class="section-center">
    <input class="search-bar" type="text" placeholder="Search" />
    <button class="search-button" style="color: white;">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <button class="voice-search-button" style="color: white;">
      <i class="fa-solid fa-microphone"></i>
    </button>
  </div>
  <div class="section-right">
    <div class="video" style="color: white;">
      <i class="fa-solid fa-video"></i>
    </div>
    <button class="notification">
      <i class="fa-regular fa-bell fa-lg"></i>
    </button>
    <!--dropdown Menu-->
    <button class="account">
      P
      <div id="dropdown">
        <ul>
          <ol>
            <div class="name">
              <div class="prof_img">
                <img
                  src="https://yt3.ggpht.com/yti/AGOGRCoslkILptl82IUw0AuK0zMIQ6QzW62XrE-CCQ=s108-c-k-c0x00ffffff-no-rj"
                  alt="" style="    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    margin-right: 20px;
                    margin-left: 10px;">
              </div>
              <div class="name-mail">
                <p>Pranay Jain</p>
              </div>
            </div>
            <hr>
          </ol>
          <ol>
            <div class="listitem">
              <div>
                <span class="material-icons">
                  account_circle
                </span>
              </div>
              <button><a href="">Google Account</a></button>
            </div>
          </ol>
          <ol>
            <div class="listitem">
              <div>
                <span class="material-icons">
                  switch_account
                </span>
              </div>
              <button><a href="">Switch Account </a></button>
            </div>
          </ol>
          <ol>

              <button><a href="">
                <div class="listitem">
                <div>
                    <span class="material-icons">
                      logout
                    </span>
                  </div>
                <div>
                   Switch Account
                </div>
                </div>
                </a>
              </button>

          </ol>
          <hr>
          <ol><button><a routerLink="setting">Setting</a>

            </button></ol>
          <ol><button><a href="">xyz</a></button></ol>
          <ol><button><a href="">xyz</a></button></ol>
          <ol><button><a href="">xyz</a></button></ol>
          <ol><button><a href="">xyz</a></button></ol>

        </ul>
      </div>
    </button>
  </div>

</div>
