.navbar2{
  display: flex;
  top: 110px;
  left: 255px;
  position: relative;
  height: 50px;
  width: 1265px;
  background-color: #0F0F0F;
  color: rgb(255, 255, 255);
  justify-content: space-between;
}

.left-side{
  display: flex;
  justify-content: space-around;
}



::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar track */
}
*{
  scrollbar-color: #ccccccbb black;
}
.thumbnail {
    border-radius: 5%;
    width: 100%;
  }

  .video-title {
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: -5px;
  }

  .video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  .profile-picture {
    width: 36px;
    border-radius: 50px;
  }

  .thumbnail-row {
    margin-bottom: 8px;
    position: relative;
  }

  .video-author,
  .video-stats {
    font-size: 14px;
    font-family: "Roboto","Arial",sans-serif;
    color: #AAAAAA;
  }

  .video-author {
    margin-bottom: -12px;
  }

  .video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 30px;
    margin-right: 55px;
    margin-top: 17px;
  }

  .video-time {
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
  }


/** Main content*/
.carasol-button {
  background-color: #222222;
  margin-right: 15px; /* Adjust the right margin to decrease spacing */
  margin-bottom: 5px; /* Adjust the bottom margin to decrease vertical spacing */
  border: none;
  color: white;
  height: 32px;
  padding-right: 10px ;
  padding-left: 16px ;
  border-radius: 8px;
  position:relative;
  margin-top: 45px;
  z-index: -1;
}

.carasol {
  display: flex;
  justify-content: space-between;
  width:100%;
}

.panel2{
  margin-top: 25px;
  width: 100%;
}


/**video watching section*/
/* Styles for the video section */
.main-section{
  position: relative;
  top: 56px;
  left: 305px;
  height: auto;
  width: 1243px;
  background-color: #0F0F0F;

}

.panel1-line1{
  display: flex;
  justify-content: space-around;
}

.thumbnail-row{
  display: flex;
  justify-content: space-between;
}

.thumbnail {
  border-radius: 5%;
  width: 100%;
  height:216px;
}

.video-title {
  margin-top: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: -5px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 14px;
  font-family: "Roboto","Arial",sans-serif;
  color: #AAAAAA;
}

.video-author {
  margin-bottom: -12px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 40px;
  margin-right: 55px;
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}

